body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9f4ff;
    color: #1e3558;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 70px auto;
    padding: 10px;
    background-color: #78c4ff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.attraction {
    flex-basis: calc(70%);
    max-height: 85px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.8s ease;
    margin: calc(1.25%);
    display: flex;
    align-items: center;
    border-radius: 20px;
}


.attraction:hover {
    max-height: 700px;
}

.attraction .info {
    padding: 20px;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    opacity: 0;
    width: 30vw;
}
.groupPhoto img {
    flex: 1;
    width: calc(49.5% - 10px); /* Adjusted to account for the gap between images */
    height: auto;
    border-radius: 20px;
    max-height: 20vw; 
    object-fit: cover;
}

.groupPhoto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.attraction:hover .info {
    opacity: 1;
    background-color: #ffeed3;
}

.attraction img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1aa7ff;
}

.header {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header-content {
    background-color: #1aa7ff;
    padding: 20px;
    border-radius: 10px;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.footer-content {
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    color: #fff;
    font-size: 16px;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    top: 0;
}
.infoTxt {
    font-size: 2vw;
}
.infoLongTxt {
    font-size: 3vw;
    color: white;
}
.nameInfoTxt{
    font-size: 4vw;
    font-weight: bold;
    color: black;
}
.nameTxt {
    font-size: 4vw;
    font-weight: bold;
}
.secondaryObj {
    font-size: 3vw;
    font-weight: bold;
    color: black;
}
#attraction2,
#attraction4 {
    margin-left: auto;
}
#attraction2 .info,
#attraction4 .info {
    bottom: 0;
    top: 0;
    left: 0;
    text-align: center;
}
#attraction1 .info,
#attraction3 .info,
#attraction5 .info {
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
}