body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #57b9ff;
    color: #4a4a4a;
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 70px auto;
    padding: 10px;
    background-color: #0094ff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.attraction {
    flex-basis: calc(50%);
    max-height: 150px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
    margin: calc(1.25%);
    display: flex;
    align-items: center;
    border-radius: 20px;
}


.attraction:hover {
    max-height: 500px;
}

.attraction .info {
    padding: 20px;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    opacity: 0;
}

.attraction:hover .info {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.attraction img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0094ff;
}

.header {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header-content {
    background-color: #0094ff;
    padding: 20px;
    border-radius: 10px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer-content {
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    color: #fff;
    font-size: 16px;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    top: 0;
}
#attraction2,
#attraction4 {
    margin-left: auto;
}
#attraction2 .info,
#attraction4 .info {
    bottom: 0;
    top: 0;
    left: 0;
    text-align: center;
}
#attraction1 .info,
#attraction3 .info,
#attraction5 .info {
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
}